@import "assets/css/variable.scss";
/* .logBox {
  min-width: 900px;
  .logItem {
    display: inline-block;
    width: 25%;
    height: 50px;
    .ant-tag {
      display: inline-block;
      height: 30px;
      width: 50%;
      text-align: center;
      line-height: 30px;
    }
  }
} */

.testPageBox{
  .navLink{
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
    >a{
      padding:15px;
      display: inline-block;
      color:rgba(0, 0, 0, 0.65);
      position: relative;
      bottom: -1px;
    }
    .active{
      color:$primary_color;
      border-bottom: 2px solid $primary_color;
    }
  }
}